.collapse_box {
    margin: 0 60px 33px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 370px;
    .collapse_container {
        width: 80%;  
        margin-bottom: 25px;
        font-size: 1.3rem;
        -webkit-animation: SHOW-BOX 2s ease;
        -moz-animation: SHOW-BOX 2s ease;
        -o-animation: SHOW-BOX 2s ease;
        animation: SHOW-BOX 2s ease;
        .button_container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 5px;
            background-color: $color-salmon;
            border-radius: 5px;
            color: $color-white;
            padding: 10px;
            font-weight: 500;
            cursor: pointer;
        }
        .collapse_content {
            background-color: $color-clearGrey;
            color: $color-salmon;
            padding: 20px 10px 10px;
            border-radius: 0 0 10px 5px;
            -webkit-animation: SHOW-BOX 1.5s ease;
            -moz-animation: SHOW-BOX 1.5s ease;
            -o-animation: SHOW-BOX 1.5s ease;
            animation: SHOW-BOX 1.5s ease;
        }
    }
}

.collapse_box-logement {
    margin: 30px 60px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    .collapse_container {
        width: 48%;
        margin-bottom: 25px;
        font-size: 1.3rem;
        -webkit-animation: SHOW-BOX 2s ease;
        -moz-animation: SHOW-BOX 2s ease;
        -o-animation: SHOW-BOX 2s ease;
        animation: SHOW-BOX 2s ease;
        .button_container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 5px;
            background-color: $color-salmon;
            border-radius: 5px;
            color: $color-white;
            padding: 10px;
            font-weight: 500;
            cursor: pointer;
        }
        .collapse_content {
            
        }
    }
}



